.home-container{
  height: 100vh;
  width: 100vw;
}
.home-navbar{
  background-color: black;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.nav-left{
  display: flex;
  gap:20px;
  align-items: center;
}
.nav-right{
  display: flex;
  gap:20px;
  align-items: center;
}
.nav-right-text{
  color: white;
  font-size: 12px;
}
.sidebar-container{
  background-color: #333;
  width: 170px;
  /* padding:10px 30px; */
  height: 90%;
}
.sidebar-box{
  display: flex;
  gap:15px;
  align-items: center;
  padding-left: 20px;
}
.menu-icon{
  width: 25px;
  height: 20px;
}
.infa-logo-icon{

}
.sidebar-box img{
  width: 15px;
  height: 15px;
}
.sidebar-text{
  color: white;
  font-size: 12px;
}
.sidebar-box:hover{
  background-color: black;
}














































































.App {
  width: 100vw;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #e67a00;
  padding: 10px 20px;
  color: #f4f4f9;
}

.navbar img {
  height: 40px;
  margin-right: 20px;
}

.navbar h1 {
  font-size: 24px;
}

.container {
  display: flex;
  justify-content: center;
  margin: 20px;
  align-items: center;
  height: 70vh;
}

.window {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 400px;
  max-width: 90%;
  height:150px;
}

.window h2 {
  margin-top: 0;
}

.window input[type="file"] {
  margin: 10px 0;
}

.window button {
  /* background-color: #536DFE; */
  background-color: #e67a00;
  color: white;
  border: 2px solid #fe8801;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
}

.window button:hover {
  background-color: #004080;
}
