body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

.login-container{
  background-image: url("../public/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container{
  background-color: white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-navbar{
  background-color: black;
  display: flex;
  gap:30px;
  color: white;
  padding:10px 20px;
  align-items: center;
}
.form{
  padding: 30px 50px 10px 50px;
}
.form-footer{
  padding:0px 50px 10px 50px;
}
span{
  color: red;
  font-weight: bold;
}
.input-text{
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}
.input-field{
  width: 86%;
  outline:none;
  border: 1px solid #dde6e9;
  border-radius: 5px;
  height: 24px;
  padding: 1px 10px 1px 10px;
  
}
.input-field:focus{
  border: 1px solid #70d2f3;
}
.form-button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #edf1f2;
  padding: 30px;
}
button{
  color: white;
  background-color: #001aff;
  border: 1px solid #001aff;
  height: 28px;
  width:75px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover{
  opacity: 0.5;
}
.form-footer p{
  font-size: 12px;
  color: #595959;
}



























































































  .box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
  }
/*   
  .login-container {
    background-color: #ff8c00;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }
   */
  h2 {
    color: #fff;
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
  }
  
  .input-group input {
    width: calc(100% - 12px);
    padding: 8px;
    border: none;
    border-radius: 4px;
  }
  
  .login-btn {
    background-color: #ff6f00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background-color: #ff9800;
}
